.main {
  min-height: 100vh;
  background-image: url("../public/bait-header.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.35);
  background-blend-mode: multiply;
}

.header {
  border-bottom: 1px solid #fff;
  padding: 1em 2em;
  display: flex;
}
.link {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  color: #fff;
  filter: brightness(100%);
}

.icon {
  color: #9dda21;
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
  margin-right: 8px;
}
